// COULEURS PRINCIPALES
$color-primary: #312C70;
$color-secondary: #F1C480;
$color-accent: #625E92;

// NUANCES ET FONDS
$color-bg-light: #F4F3F2;
$color-bg-secondary: #FDDCAA;
$color-bg-soft: #AEADC2;
$color-dark: #19162B;

// BASIQUES
$color-white: #FFFFFF;
$color-black: #000000;

// BREAKPOINTS
$breakpoint-mobile: 1024px;
