@import '../../variables';

.btns {
    display: flex;
    justify-content: center; // Centre les boutons horizontalement
    align-items: center;
    gap: 24px;              // Espacement parfait sur PC
    margin-top: 48px;       // Marge généreuse après le paragraphe

    .primary-btn {
        @include typo-primary-btn;
    }

    .secondary-btn {
        @include typo-secondary-btn;
    }

    @media (max-width: $breakpoint-mobile) {
        flex-direction: column; // Empilement sur mobile
        gap: 16px;              // Espacement réduit pour mobile
        width: 100%;            // Pour que les boutons puissent prendre toute la largeur
    }
}