@import '../../variables';

.cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    grid-template-columns: 1fr; 
    gap: 40px;
    max-width: $breakpoint-desktop;
    margin: 80px auto;
    padding: 0 24px;

    @media (min-width: $breakpoint-mobile) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $breakpoint-tablet) {
        grid-template-columns: repeat(3, 1fr);
        margin: 80px auto;
    }

    .card-inclusion {
        display: flex;
        flex-direction: column;
        background-color: $color-white;
        border-radius: 15px;
        width: 100%;
        max-width: 320px;
        overflow: hidden;
        box-shadow: 0 0 8px $color-black; 
        transition: 0.3s ease-in-out;
        cursor: pointer;
        position: relative;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 0 12px $color-black; 

            .icon-container img {
                transform: scale(1.1) rotate(5deg);
            }
        }

        .icon-container {
            background-color: $color-bg-soft;
            height: 220px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img {
                width: 150px;
                object-fit: contain;
                z-index: 1;
                transition: 0.3s ease-in-out;
            }
        }

        .card-content {
            padding: 20px;
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .author {
                @include typo-p;
                margin-bottom: 8px;
            }

            .card-title {
                @include typo-h3;
                font-size: 36px;
                color: $color-dark;
                margin-bottom: 32px;
            }

            button {
                @include typo-primary-btn;
                width: 100%;
                
                &:hover {
                    background-color: $color-accent;
                }
            }
        }
    }
}