@import '../../variables';

.cards-grid {
    display: flex;       // On passe en flex pour un centrage parfait de la dernière ligne
    flex-wrap: wrap;     // On autorise le retour à la ligne
    justify-content: center; // C'EST CETTE LIGNE qui centre les 2 cartes du bas
    gap: 40px;
    max-width: $breakpoint-desktop;
    margin: 80px auto;
    padding: 0 24px;

    .card-inclusion {
        display: flex;
        flex-direction: column;
        background-color: $color-white;
        border-radius: 15px;
        
        // On définit la largeur pour simuler les colonnes
        // Sur Desktop (3 par ligne) : on calcule (100% / 3) - gap
        width: calc(33.333% - 40px); 
        min-width: 300px; // Sécurité pour que les cartes ne soient pas trop fines
        max-width: 320px;
        
        overflow: hidden;
        box-shadow: 0 0 8px $color-black; 
        transition: 0.3s ease-in-out;
        cursor: pointer;
        position: relative;

        // Responsivité simple avec Flex
        @media (max-width: $breakpoint-tablet) {
            width: calc(50% - 40px); // 2 par ligne sur tablette
        }

        @media (max-width: $breakpoint-mobile) {
            width: 100%; // 1 par ligne sur mobile
            max-width: 300px;
        }

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 0 12px $color-black; 

            .icon-container img {
                transform: scale(1.1) rotate(5deg);
            }
        }

        .icon-container {
            background-color: $color-bg-soft;
            height: 220px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img {
                width: 150px;
                object-fit: contain;
                z-index: 1;
                transition: 0.3s ease-in-out;
            }
        }

        .card-content {
            padding: 20px;
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .author {
                @include typo-p;
                margin-bottom: 8px;
            }

            .card-title {
                @include typo-h3;
                font-size: 36px;
                color: $color-dark;
                margin-bottom: 32px;
                // Important pour que les boutons soient alignés si un titre est plus long
                min-height: 80px; 
                display: flex;
                align-items: center;
            }

            button {
                @include typo-primary-btn;
                width: 100%;
                margin-top: auto; // Pousse le bouton vers le bas
                
                &:hover {
                    background-color: $color-accent;
                }
            }
        }
    }
}