@import '../../variables';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: $color-primary;
  z-index: 1000;
  box-shadow: 0 0 8px $color-dark;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    height: 80px;
  }
}