@import '../../variables';

.map {
    padding: 128px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    .organisation {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .roadMap {
            width: 80vw;
            max-width: $breakpoint-desktop;

            @media (max-width: $breakpoint-tablet) {
                width: 100vw;
            }
        }

    }

    @media (max-width: $breakpoint-mobile) {
        padding: 64px 0;
    }
}