@import '../variables';

.activity-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img 

    label {
        @include typo-label;
    }


}