@import '../variables';

.activity-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $color-white;

    img {
        
    }

    label {
        @include typo-label;
    }


}