@import '../variables';

.activity-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: ;
    background-color: $color-white;
    box-shadow: 0 0 8px $color-dark;

    img {
        
    }

    label {
        @include typo-label;
    }


}