@import '../../variables';

.activites {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;

    .container p {
        width: 100%;
    }

    .cards-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        padding: 40px 0;

        @media (max-width: $breakpoint-tablet) {
            gap: 40px;
        }
    }

    .primary-btn {
        @include typo-primary-btn;
    }

    .forms {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1000;

        .form1,
        .form2,
        .form3,
        .form4 {
            position: absolute;
            pointer-events: none;
            object-fit: contain;
        }

        .form1 {
            top: 10%;
            left: -280px;
            transform: translateY(-50%);

            @media (max-width: $breakpoint-desktop) {
                left: -420px;
            }

            @media (max-width: $breakpoint-tablet) {
                left: -500px;
            }

            @media (max-width: $breakpoint-mobile) {
                width: 55vw;
                left: -40%;
            }
        }

        .form2 {
            top: 50%;
            right: -280px;
            transform: translateY(-50%);

            @media (max-width: $breakpoint-desktop) {
                right: -420px;
            }

            @media (max-width: $breakpoint-tablet) {
                right: -500px;
            }

            @media (max-width: $breakpoint-mobile) {
                width: 55vw;
                right: -40%;
            }
        }

        .form3 {
            bottom: -15%;
            right: -280px;
            transform: translateY(-50%);

            @media (max-width: $breakpoint-desktop) {
                bottom: -5%;
                right: -420px;
            }

            @media (max-width: $breakpoint-tablet) {
                right: -500px;
            }

            @media (max-width: $breakpoint-mobile) {
                width: 55vw;
                right: -40%;
            }
        }

        .form4 {
            bottom: 10%;
            left: -280px;
            transform: translateY(-50%);

            @media (max-width: $breakpoint-desktop) {
                left: -420px;
            }

            @media (max-width: $breakpoint-tablet) {
                left: -500px;
            }

            @media (max-width: $breakpoint-mobile) {
                width: 55vw;
                left: -40%;
            }
        }
    }

    .modal-overlay {
        position: fixed;
        inset: 0; // Remplace top/left/width/height: 100%
        background: rgba($color-black, 0.8);
        backdrop-filter: blur(15px);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        transition: 0.3s ease-in-out;
    }

    .modal-content {
        position: relative;
        height: 95vh;
        aspect-ratio: 1 / 1.414; // Ratio A4
        background: $color-white;
        border-radius: 4px;
        box-shadow: 0 0 40px rgba($color-black, 0.8);
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .close-btn {
            position: absolute;
            top: 16px;
            right: 16px;
            width: 40px;
            height: 40px;
            font-size: 16px;
            font-weight: bold;
            border: none;
            border-radius: 50%;
            background: $color-primary;
            color: $color-white;
            cursor: pointer;
            z-index: 20;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: $color-accent;
                transform: rotate(90deg) scale(1.1);
            }
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }

        .download-btn {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 16px;
            right: 16px;
            padding: 24px;
            background-color: $color-primary;
            color: $color-white;
            border: none;
            border-radius: 50px;
            font-family: $main-font;
            font-weight: bold;
            font-size: 16px;
            height: 40px;
            text-decoration: none;
            transition: 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: $color-accent;
            }

            @media (max-width: $breakpoint-tablet) {
                top: 8px;
                right: 8px;
                height: 35px;
                padding: 20px;
            }
        }
    }

    .filter-section {
        width: 100%;
        max-width: 900px;
        padding: 40px 20px;
        z-index: 10;

        .search-bar {
            position: relative;
            width: 100%;
            margin-bottom: 40px;

            input {
                width: 100%;
                padding: 16px 24px;
                border-radius: 15px;
                border: 2px solid $color-bg-soft;
                background-color: $color-white;
                font-family: $main-font;
                font-size: 16px;
                font-weight: 600;
                color: $color-primary;
                transition: 0.3s ease-in-out;

                &::placeholder {
                    color: transparent;
                }

                &:focus {
                    outline: none;
                    border-color: $color-primary;
                }

                &:not(:placeholder-shown):invalid {
                    border: 2px dashed $color-red;
                }
            }

            label {
                position: absolute;
                left: 24px;
                top: 18px;
                font-family: $main-font;
                font-size: 16px;
                font-weight: 600;
                color: $color-accent;
                pointer-events: none;
                transition: 0.3s ease-in-out;
                padding: 0 4px;
            }

            input:focus+label,
            input:not(:placeholder-shown)+label {
                top: -12px;
                left: 20px;
                font-size: 14px;
                font-weight: 700;
                color: $color-primary;
                background: linear-gradient(to bottom, transparent 66%, $color-white 33%);
                padding: 0 8px;
            }
        }
    }
}