@import '../../variables';

.activites {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    .container p {
        width: 100%;
    }

    .cards-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        padding: 40px 0;

        @media (max-width: $breakpoint-tablet) {
            gap: 40px;
        }
    }

    .primary-btn {
        @include typo-primary-btn;
    }
}