@import '../../variables';

.activites {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: ;

    .container p {
        width: 100%;
        
    }
}