@import '../../variables';

.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 170px 20px 80px 20px;
    overflow: hidden;

    .hero-form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        max-width: $breakpoint-mobile;
        margin-top: 80px;
        z-index: 10;

        .input-group {
            position: relative;
            width: 100%;

            input,
            textarea {
                width: 100%;
                padding: 16px 24px;
                border-radius: 15px;
                border: 2px solid $color-bg-soft;
                background-color: $color-white;
                font-family: $main-font;
                font-size: 16px;
                font-weight: 600;
                color: $color-primary;
                transition: all 0.3s ease-in-out;

                &::placeholder {
                    color: transparent;
                }

                &:focus {
                    outline: none;
                    border-color: $color-primary;
                }

                &:not(:placeholder-shown):invalid {
                    border: 2px dashed $color-red;
                }
            }

            textarea {
                min-height: 150px;
                resize: none;
            }

            label {
                position: absolute;
                left: 24px;
                top: 18px;
                font-family: $main-font;
                font-size: 16px;
                font-weight: 600;
                color: $color-accent;
                pointer-events: none;
                transition: all 0.2s ease-in-out;
                padding: 0 4px;
            }

            input:focus+label,
            input:not(:placeholder-shown)+label,
            textarea:focus+label,
            textarea:not(:placeholder-shown)+label {
                top: -12px;
                left: 20px;
                font-size: 14px;
                font-weight: 700;
                color: $color-primary;
                background: linear-gradient(to bottom, transparent 66%, $color-white 33%);
                padding: 0 8px;
            }
        }

        .btn-submit {
            width: 100%;
            font-family: $main-font;
            margin-top: 8px;
            padding: 20px;
            border-radius: 15px;
            border: none;
            background-color: $color-primary;
            color: $color-white;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            letter-spacing: 1px;
            transition: 0.3s ease-in-out;

            &:hover:not(:disabled) {
                background-color: $color-accent;
                transform: translateY(-4px);
            }

            &:active {
                transform: translateY(0);
            }

            &:disabled {
                cursor: not-allowed;
            }

            &.success {
                background-color: $color-green !important;
            }

            &.error {
                background-color: $color-red !important;
            }
        }

        .form-feedback {
            display: block;
            text-align: center;
            font-family: $main-font;
            font-size: 16px;
            font-weight: 600;
            color: $color-accent;
            margin-top: -10px;
            animation: 0.3s ease-in-out;

            &.success {
                color: $color-green;
            }

            &.error {
                color: $color-red;
            }
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-4px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .icons {
        width: 100%;
        max-width: $breakpoint-desktop;
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        transform: translateX(-50%);
        pointer-events: none;
        z-index: 5;

        .icon-contact,
        .icon-handicap,
        .icon-scroll {
            position: absolute;
            pointer-events: auto;
            background-color: $color-white;
            border-radius: 100%;
            box-shadow: 0 0 12px $color-primary;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            transition: 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 20px $color-secondary;
                transform: translateY(-4px);
            }

            img {
                width: 64px;
                height: 64px;
                object-fit: contain;

                @media (max-width: $breakpoint-desktop) {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .icon-contact {
            top: 20%;
            left: 8%;
        }

        .icon-handicap {
            top: 33%;
            right: 8%;
        }

        .icon-scroll {
            top: 80%;
            left: 20%;

            @media (max-height: $breakpoint-tablet) {
                top: 66%;
                left: 12.5%;
            }

            @media (min-height: $breakpoint-tablet) {
                top: 50%;
            }
        }

        @media (max-width: $breakpoint-tablet) {
            display: none;
        }
    }

    .forms {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1000;

        .form1,
        .form2 {
            position: absolute;
            pointer-events: none;
            object-fit: contain;
        }

        .form1 {
            top: 50%;
            left: -280px;
            transform: translateY(-50%);

            @media (max-width: $breakpoint-desktop) {
                left: -420px;
            }

            @media (max-width: $breakpoint-tablet) {
                left: -500px;
            }

            @media (max-width: $breakpoint-mobile) {
                width: 55vw;
                left: -40%;
            }
        }

        .form2 {
            bottom: 0;
            right: 0;

            @media (max-width: $breakpoint-desktop) {
                width: 35vw;
            }

            @media (max-width: $breakpoint-mobile) {
                width: 66vw;
            }

            @media (min-height: )
        }
    }
}