@import '../../variables';

.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;

    .container {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        max-width: $breakpoint-tablet;

        h1 {
            @include typo-h1;
            margin-bottom: 32px;
        }

        p {
            @include typo-p;
            margin-bottom: 48px;
            max-width: 800px;
        }
    }

    .icons {
        width: 100%;
    max-width: $breakpoint-tablet;
    
    // 2. On centre la div pour qu'elle soit pile sur le container
    position: absolute; 
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    
    // 3. On désactive le clic sur la div parente pour ne pas bloquer les boutons dessous
    pointer-events: none; 
    z-index: 5;

        .icon-contact,
        .icon-handicap,
        .icon-scroll {
            position: absolute;
            background-color: $color-white;
            border-radius: 100%;
            box-shadow: 0 0 12px $color-primary;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            transition: 0.3s ease-in-out;

            &:hover {
                box-shadow: 0 0 20px $color-primary;
            }

            img {
                width: 64px;
                height: 64px;
                object-fit: contain;
            }
        }

        .icon-contact {
            top: 20%;
            left: 8%;
        }

        .icon-handicap {
            top: 35%;
            right: 8%;
        }

        .icon-scroll {
            top: 80%;
            left: 20%;
        }
    }

}