@import '../../variables';

.separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;

    .footer-divider,
    .footer-divider-inverse {
        width: 100vw;
        height: auto;
        display: block;
        object-fit: cover
    }

    .footer-divider-inverse {
        transform: rotate(180deg);
    }

    .text-container {
        // On définit une largeur max pour la lecture, mais on centre le bloc
        width: 100%;
        max-width: 900px;
        padding: 60px 20px; // Espace vertical entre les images et le texte
        margin: 0 auto;
        text-align: center; // Centre le texte à l'intérieur
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

       
    }
}

// Ajustement pour les petits écrans
@media (max-width: 768px) {
    .text-container {
        padding: 40px 15px;
    }
}