@import '../../variables';

.separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;

    .footer-divider,
    .footer-divider-inverse {
        width: 100vw;
        height: auto;
        display: block;
        object-fit: cover;
    }

    .footer-divider-inverse {
        transform: rotate(180deg);
    }

    .text-container {
        width: 100%;
        max-width: $breakpoint-desktop;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        h2,
        p {
            width: 100%;
            margin: 0;
        }
}

@media (max-width: 768px) {
    .text-container {
        padding: 40px 16px;
    }
}