@import '../../variables';

.header {
	position: fixed;
	top: 40px;
	left: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;

	.header-container {
		background-color: $color-primary;
		width: 90%;
		height: 100px;
		border-radius: 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 24px;
		box-shadow: 0 0 8px $color-dark;

		.logo {
			position: relative;
			width: 200px;
			cursor: pointer;
			padding: 8px;
			left: -8px;

			@media (max-width: $breakpoint-tablet) {
				width: 180px;
			}
		}

		@media (max-width: $breakpoint-tablet) {
			height: 80px;
		}
	}

	.nav-desktop {
		display: none;
		align-items: center;
		gap: 24px;

		@media (min-width: $breakpoint-tablet) {
			display: flex;
		}

		a {
			@include typo-a;
		}

		.btn-contact {
			@include typo
		}
	}

	.burger-button {
		background: none;
		cursor: pointer;

		@media (min-width: $breakpoint-tablet) {
			display: none;
		}

		img {
			width: 52px;
		}
	}
}

.nav-mobile {
	position: absolute;
	top: 40px;
	left: 5%;
	right: 5%;
	background: $color-primary;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 15px;
	text-align: center;

	@media (min-width: $breakpoint-tablet) {
		display: none;
	}

	a {
		color: $color-white;
		text-decoration: none;
		padding: 10px;
		font-size: 1.2rem;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);

		&:last-child {
			border: none;
		}
	}
}